.main-abvert {
  /*메인 광고*/
  height: 110px;
  text-align: center;
  margin: 5px;
  margin-bottom: 10px;
  padding: 15px;
}
.main-abvert img {
  position: relative;
  width: 100%;
  height: 100%;
  cursor: pointer;
}